@using ACGProjectGoGlobal.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.About;
}

<h2>@L("About")</h2>

<div class="row">
    <div class="col-lg-6">
        <p>Bacon ipsum dolor amet shankle meatball capicola, ground round corned beef burgdoggen porchetta tongue. Ribeye short ribs biltong fatback tail pork chop spare ribs bresaola jowl flank. Sausage shankle kielbasa, cow tenderloin ground round sirloin burgdoggen biltong boudin pastrami. Tail alcatra short loin rump meatball. Pig strip steak jowl burgdoggen flank, ham meatloaf pork. Doner tenderloin landjaeger turkey prosciutto. Meatloaf brisket burgdoggen boudin pancetta hamburger.</p>

        <p>Spare ribs boudin hamburger, brisket venison shoulder ham hock shank tongue pork chop alcatra prosciutto. Hamburger filet mignon pork belly, fatback jerky prosciutto sausage salami pork pig jowl ribeye kevin chicken. Beef ribs pork chop tenderloin pancetta alcatra. Flank chuck jerky, fatback ball tip meatloaf kielbasa burgdoggen swine tail pancetta shoulder venison boudin prosciutto. Frankfurter salami pastrami porchetta pig brisket shankle swine kevin shoulder ball tip kielbasa ground round. Landjaeger leberkas spare ribs, corned beef meatloaf rump flank shank sausage ham hock turducken doner. Beef sirloin prosciutto hamburger, filet mignon pork loin pig chuck shoulder andouille capicola short loin spare ribs flank venison.</p>

        <p>Picanha porchetta drumstick frankfurter short loin buffalo ham hock beef ham pork tongue. Andouille prosciutto capicola meatball chuck. Andouille bresaola swine prosciutto pork chop pastrami. Turducken ham hock frankfurter shank beef ribs. Landjaeger burgdoggen rump chislic chicken, salami shoulder ribeye jerky ham. Shoulder meatball picanha brisket short ribs ground round pig alcatra tri-tip cupim frankfurter hamburger swine flank.</p>
    </div>
</div>